In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV

In [1]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse'],
              'max_features': [None, 'sqrt', 'log2'],
              'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent,dependent)

NameError: name 'independent' is not defined

In [19]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'positive': True}:

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010576,0.000795,0.007554,0.000819,True,True,1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
1,0.027755,0.010722,0.006883,0.001023,True,True,1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
2,0.067014,0.034835,0.009110,0.003544,True,True,-1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
3,0.013816,0.009200,0.006393,0.000804,True,True,-1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
4,0.010066,0.001565,0.006781,0.000747,True,True,None,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
5,0.012799,0.006607,0.006394,0.000480,True,True,None,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
6,0.009975,0.001669,0.007579,0.000799,True,False,1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,19
7,0.012563,0.003765,0.008778,0.002129,True,False,1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,13
8,0.035501,0.001458,0.006191,0.000699,True,False,-1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,19
9,0.013942,0.008520,0.007688,0.002540,True,False,-1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,13
10,0.008680,0.000745,0.007397,0.001027,True,False,None,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,19
11,0.014838,0.008778,0.012244,0.009734,True,False,None,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,13
12,0.011108,0.001713,0.008181,0.000741,False,True,1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
13,0.013096,0.003720,0.006152,0.000672,False,True,1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
14,0.052878,0.013172,0.006113,0.000527,False,True,-1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
15,0.009206,0.001619,0.008757,0.004033,False,True,-1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
16,0.013641,0.003473,0.006995,0.001081,False,True,None,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
17,0.010021,0.001087,0.006646,0.000852,False,True,None,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,7
18,0.009692,0.002141,0.008431,0.001228,False,False,1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,19
19,0.011457,0.003972,0.007781,0.001324,False,False,1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,13
20,0.031856,0.006878,0.006743,0.000825,False,False,-1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,19
21,0.013624,0.006852,0.009491,0.001842,False,False,-1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,13
22,0.011135,0.002458,0.006653,0.000561,False,False,None,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,19
23,0.010323,0.002063,0.005722,0.000922,False,False,None,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,13

In [16]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [17]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[11408.53212297]]

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [27]:
r2_score=grid.best_score_
print(f"r_score:{r2_score}")

r_score:0.7467903987371821