In [1]:
#pandas is a library and it contains functions related to database
import pandas as pd

In [4]:
#we are assigning the csv file to dataset variable
dataset=pd.read_csv("Salary_Data.csv")

In [5]:
#print the dataset
dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [8]:
# Split input and output

#assigning input to independent variabe by taking single column from dataset
independent=dataset[["YearsExperience"]]
#print the single column named YearsExperience
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [9]:
#assigning output to dependent variabe by taking single column from dataset
dependent=dataset[["Salary"]]
#print single column named Salary
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [12]:
# Split training and test set

#sklearn is the library for Machine Learning algorithm
#from model_selection file we are importing train_test_split function
from sklearn.model_selection import train_test_split
#assigning 4 variables to get the output
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [13]:
# Model Creation 

#sklearn is the library for Machine Learning algorithm
#from linear_model file we are importing LinearRegression algorithm
from sklearn.linear_model import LinearRegression
#assigning LinearRegression() class to regressor variable
regressor=LinearRegression()
#by calling the fit function we are passing the input & output of training set
regressor.fit(x_train,y_train)

LinearRegression()

In [14]:
#in coef_ we have slop value
weight=regressor.coef_
#print the value of slop
weight

array([[9360.26128619]])

In [16]:
#in intercept_ we have origin or bais value
bais=regressor.intercept_
#print the value of origin
bais

array([26777.3913412])

In [17]:
# Model Evaluation

#predicted input is stored in y_pred
y_pred=regressor.predict(x_test)

In [19]:
#sklearn is the library for Machine Learning algorithm
#from metrics file we are importing r2_score
from sklearn.metrics import r2_score
#we are passing actual and predicted value to r_score
r_score=r2_score(y_test,y_pred)
#print
r_score

0.9740993407213511

In [21]:
#Save the Model

#we use pickle library to save the model
import pickle
#create file name .sav is the extension of pickle
filename="finalized_model_linear.sav"
#assigning the model by dump and our model is saved in regressor 
#wb is write binary
pickle.dump(regressor,open(filename,'wb'))

In [22]:
# Load and Check

#loading the file by using load keyword and rb is read binary
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
#predicting the output for 15 years 
result=loaded_model.predict([[15]])
#print the output
result

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])